@media (max-width:1024px) {
    .burger-bar {
        display: block;

    }
    .navigation {
        display: none;
    }
    .navigation.newNavigation {
        display: block;
    }
    ul {
        flex-direction: column;
        align-items: center;
    }
    .web-pages {
        flex-direction: column;
    }
    .royal-text {
        padding-top: 5rem;
    }
    .royal-text p {
        font-size: 1.25rem;
    }
    .royal-wraper {
        flex-direction: column;
    }
}

@media (max-width:768px) {
    .web-pages {
        display: none;
    }
    .right {
        display: none;
    }
    .wine-tittle h2 {
        font-size: 2rem;
    }
    .heritage-right {
        display: none;
    }
    .heritage-tittle h2 {
        font-size: 2rem;
    }
} 
@media (max-width:480px) {
    .royal-tittle {
        padding-top: 10rem;
    }
}
@media ( max-width: 375px) {
   
    .web-pages {
        display: none;
    }
    .right {
        display: none;
    }
    .wine-tittle {
        padding-top: 5rem;
    }
    
    .royal-text {
        padding-top: 0.625rem;
    }
}