@media (max-width:1024px) {
    .burger-bar {
        display: block;

    }
    .navigation {
        display: none;
    }
    .navigation.newNavigation {
        display: block;
    }
    ul {
        flex-direction: column;
        align-items: center;
    }
    .web-pages {
        flex-direction: column;
    }
    
    .royal-text p {
        font-size: 1.25rem;
    }
    .royal-wraper {
        flex-direction: column;
    }
    .footer-container {
        flex-wrap: wrap;
    }
    .section-wraper {
        flex-direction: column;
        row-gap: 2.5rem;
    }
    .heritage-wraper{
        flex-direction: column;
    }
    .heritage-right {
        max-width: 30rem;
        height: 28rem;
    }
    .heritage-right img {
        width: 100%;
        height: 28rem;
    }
    .royal-text {
        height: 20rem;
    }
    .right-img {
        max-width: 30rem;
        width: 100%;
        height: 32rem;
    }
}

@media (max-width:768px) {
    .web-pages {
        display: none;
    }
    .right {
        display: none;
    }
    
    .wine-tittle h1 {
        font-size: 2rem;
    }
    .heritage-right {
        display: none;
    }
    .heritage-tittle h2 {
        font-size: 2rem;
    }
    .logos img {
        width: 6.25rem;
        height: 6.25rem;
    }
    .footer-container {
        flex-direction: column;
        row-gap: 1rem;
    }
    .mail h5 {
        font-size: 1.125rem;
    }
    .royal-img {
        max-width: 45rem;
        width: 100%;
        height: 30rem;
    }
    .royal-img img {
        max-width: 45rem;
        width: 100%;
        height: 30rem;
    }
    
} 
@media (max-width:480px) {
    .royal-tittle {
        padding-top: 2.5rem;
    }
    .email-box {
        flex-direction: column;
    }
    .email {
        max-width: 20rem;
        width: 100%;
    }
    .submit {
        max-width: 20rem;
        width: 100%;
    }
    .contact-forms {
        max-width: 20rem;
        width: 100%;
    }
    .forms {
        width: 100%;
    }
    .message {
        
        width: 100%;
    }
    .photos img {
        max-width: 15rem;
    }
    .royal-img {
        max-width: 24rem;
        width: 100%;
        height: 20rem;
    }
    .royal-img img {
        max-width: 24rem;
        width: 100%;
        height: 18.75rem;
        padding-top: 2.5rem;
    }
   
}
@media ( max-width: 375px) {
   
    .web-pages {
        display: none;
    }
    .right {
        display: none;
    }
    .wine-tittle {
        padding-top: 5rem;
    }
    
    
   .mail h5 {
    font-size: 1rem;
   }
   .form {
    max-width: 15rem;
    width: 100%;
   }
   .email {
    max-width: 15rem;
    width: 100%;
    
   }
   .submit {
    max-width: 15rem;
    width: 100%;
   }
   .royal-text {
    height: 23rem;
   }
}