
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
    background-color: black;
}
/* header */
header {
    width: 100%;
    height: 1000px;
    position: relative;
}
.bg-image {
    background-image: url(../images/128a8056-2474-484c-b052-489fb44a543c.jpeg); 
    width: 100%;
    height: 62.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header-fixed{
    background-color: #00000077;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}
.header-wraper {
    max-width: 90rem;
    width: 100%;
    height: 6.875rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}

.logo-img {
    width: 8.125rem;
    height: 5rem;
}
.navigation {
    max-width: 50rem;
    width: 100%;
    
}
ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.125rem;
    font-family: ALK Sanet;
}
.li-a {
    color: lightgrey;
}
i {
    -webkit-transition: all 2s linear 0.1s;
    -o-transition: all 2s linear 0.1s;
    transition: all 2s linear 0.1s;
}

.web-pages {
    width: 3.125rem;
    height: 3.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.web {
    color: lightgray;
    font-size: 1.125rem;
}
.burger-bar {
    color: #FFFFFF;
    display: none;
}
/* about us */
.about-us {
    max-width: 90rem;
    width: 100%;
    height: 50rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5rem;
}
.left {
    max-width: 25rem;
    width: 100%;
    height: 25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
}
.left h4 {
    color: #E8BC62;
    font-size: 1.125rem;
    margin-bottom: 0.3125rem;
    font-family: ALK Sanet;
}
.left h3 {
    color: #FFFFFF;
    font-size: 1.875rem;
    margin-bottom: 2.5rem;
    font-family: ALK Sanet;
    text-shadow: 2px 2px 4px #FFFFFF;
}
.left p {
    color: #FFFFFF;
    margin-bottom: 0.9375rem;
    font-family: ALK Sanet;
    font-size: 0.875rem;
}
.button {
    max-width: 9.375rem;
    width: 100%;
    height: 5rem;
    border: 2px groove #E8BC62;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2.5rem;
}
.left-btn {
    max-width: 9.375rem;
    width: 100%;
    height: 4.8rem;
    border: none;
    background-color: black;
    color: #E8BC62;
    font-family: ALK Sanet;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
.right-img {
    max-width: 50rem;
    width: 100%;
    height: 43.75rem;
    border-radius: 1.25rem;
}

/* gallery */
.gallery {
    max-width: 90rem;
    width: 100%;
    min-height: 62.5rem;
    padding-top: 5rem;
    margin: 0 auto;
}
.gallery-tittle {
    text-align: center;
    color: lightgray;
    font-size: 2.5rem;
    font-family: ALK Sanet;
    text-shadow: 2px 2px 4px #FFFFFF;
}
.gallery-text {
    color: lightgray;
    font-family: ALK Sanet;
    font-size: 1rem;
    max-width: 60rem;
    width: 100%;
    text-align:start;
    margin: 0 auto;
    padding-top: 2.5rem;
}
.gallery-text p {
    margin-bottom: 1rem;
}
.photos {
    max-width: 90rem;
    width: 100%;
    min-height: 52.5rem;
    display: -ms-grid;
    display: grid;
   
    gap: 2rem;
    padding-top: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem,20rem));
    grid-template-rows: repeat(auto-fit, minmax (6.5rem, 12.5rem));
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.photos img {
    max-width: 20rem;
    width: 100%;
    height: 12.5rem;
    border-radius: 8px;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
/* products */
.products {
    max-width: 90rem;
    width: 100%;
    min-height: 193rem;
    padding-top: 6.5rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.wine-container {
    max-width: 90rem;
    width: 100%;
    min-height: 160rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2.5rem 5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 6.25rem;
    -webkit-box-shadow: 5px 10px 8px 10px lightslategray;
            box-shadow: 5px 10px 8px 10px lightslategray;
    border-radius: 0.5rem;
}
.wine-tittle {
    max-width: 50rem;
    width: 100%;
    min-height: 7.5rem;
}
.wine-tittle h1 {
    color: #FFFFFF;
    font-size: 3.75rem;
    font-family: 'ALK Sanet';
    text-shadow: 2px 2px 4px #FFFFFF;
}
.wine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 25rem;
    width: 100%;
    height: 30rem;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    
    
}
.wine-img img {
    max-width: 5rem;
    width: 100%;
    height: 20rem;
}
.saperavi {
   -o-object-fit: cover;
      object-fit: cover;
}
.wine-img {
    max-width: 5rem;
    width: 100%;
    height: 20rem;
}
.description {
    color: #FFFFFF;
    max-width: 15rem;
    width: 100%;
    height: 30rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    row-gap: 0.375rem;
}
.description h5 {
    color: #E8BC62;
    font-size: 0.875rem;
    font-family: 'ALK Sanet';
}
.description h3 {
    font-size: 1.875rem;
    text-shadow: 2px 2px 4px #FFFFFF;
    font-family: 'ALK Sanet';
}
.description h4 {
    font-family: 'ALK Sanet';

}
.description p {
    font-family: 'BPG Irubaqidze';
    font-size: 1.125rem;
}

/* heritage */
.heritage-and-awards {
    max-width: 90rem;
    width: 100%;
    min-height: 190rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.heritage {
    max-width: 90rem;
    width: 100%;
    min-height: 190rem;
    margin: 0 auto;
    padding-top: 2.5rem;
}
.chelti-heritage {
    max-width: 90rem;
    width: 100%;
    min-height: 94rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.heritage-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 32rem;
}
.heritage-left {
    max-width: 30rem;
    width: 100%;
    height: 32rem;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3rem;

}
.heritage-tittle {
    padding-bottom: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1rem;
}
.heritage-tittle h2 {
    font-size: 4rem;
    color: #FFFFFF;
    font-family: 'ALK Sanet';
    text-shadow: 2px 2px 4px lightsalmon;
}
.heritage-tittle p {
    font-family: 'BPG Irubaqidze';
    font-size: 1.25rem;
    color: #FFFFFF;
}
.text h2 {
    
    font-family: 'ALK Sanet';
    font-size: 1.75rem;
    text-shadow: 2px 2px 4px lightsalmon;
    margin-bottom: 1rem;
}
.text p {
    font-family: 'BPG Irubaqidze';
    font-size: 1.25rem;
    
}
.heritage-right {
    max-width: 50rem;
    width: 100%;
    height: 32rem;
    
}
.heritage-right img {
    max-width: 50rem;
    width: 100%;
    height: 32rem;
    /* border-radius: 3.75rem 1.25rem; */
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    -webkit-box-shadow: 5px 10px 18px lightgrey;
            box-shadow: 5px 10px 18px lightgrey;
}
.royal {
    max-width: 90rem;
    width: 100%;
    min-height: 50rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 7.5rem;
    padding-top: 5rem;
}
.royal-tittle {
    font-family: 'ALK Sanet';
    font-size: 3.75rem;
    text-shadow: 2px 2px 4px lightsalmon;
    color: #E8BC62;
    padding-top: 5rem;
    height: 8.75rem;
}
.royal-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-column-gap: 5rem;
         -webkit-column-gap: 5rem;
            column-gap: 5rem;
    
}
.royal-img {
    
    max-width: 50rem;
    width: 100%;
    height: 35rem;
    margin: 0 auto;
    
}
.royal img {
    max-width: 50rem;
    height: 35rem;
    width: 100%;
    border-radius: 1rem;
}
.royal-text {
    color:#E8BC62;
    max-width: 35rem;
    width: 100%;
    height: 35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2rem;
    
}
.royal-text p {
    font-family: 'BPG Irubaqidze';
    font-size: 2rem;
    
}
.video {
    max-width: 56.25rem;
    width: 100%;
    height: 50rem;
    padding-top: 10rem;
    margin: 0 auto;
    
}
.video-youtube {
    width: 100%;
}
/* awards */
.awards {
    max-width: 90rem;
    width: 100%;
    min-height: 57rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 2.5rem;
}
.awards-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #FFFFFF;
    row-gap: 1rem;
    max-width: 46rem;
}
.awards-description h4 {
    font-family: 'ALK Sanet';
    font-size: 2rem;
    color: #E8BC62;
}
.awards-description p {
    font-family: 'ALK Sanet';
    font-size: 1.125rem;
}
.awards-wraper {
    max-width: 90rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 5rem;
    gap: 2.5rem;
}
.logos {
    max-width: 12.5rem;
    
}
.logos img {
    max-width: 12.5rem;
    width: 100%;
    height: 12.5rem;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

/* footer */
footer {
    
    width: 100%;
    min-height: 12rem;
    border-top: 1px solid lightgrey;
    padding-top: 4rem;
}
.footer-container {
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FFFFFF;
}
.footer-web,
.address,
.phone,
.mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1rem;
} 
.rights p {
    font-family: 'BPG Irubaqidze';
    font-size: 1rem;
}
.footer-web {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 5rem;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
}
.mail {
    max-width: 22rem;
    width: 100%;
    min-height: 4.75rem;
}
.address a,
.phone a {
    color: #FFFFFF;
    font-family: 'BPG Irubaqidze';
    font-size: 1rem;
}
.submit {
    border: none;
    background-color: black;
    color: #E8BC62;
}
.address h5,
.phone h5,
.mail h5 {
    font-size: 1.125rem;
    font-family: 'ALK Sanet';
}
.form {
    width: 20rem;
}

.email-box {
    max-width: 20rem;
    width: 100%;
    height: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.email {
    max-width: 10rem;
    width: 100%;
    height: 2.5rem;
    font-size: 0.875rem;
    background-color: black;
    border: none;
    
}
.submit {
    max-width: 8rem;
    width: 100%;
    border: 1px solid #E8BC62;
    height: 2.5rem;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
/* contact us */
.contact-header {
    height: 7.5rem;
}
.section-wraper{
    max-width: 78rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 6.25rem;
}
.grapes {
    max-width: 30rem;
    width: 100%;
    height: 20rem;
}
.grapes img {
    width: 100%;
}
.contact-forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
    
}
.contact-forms h3 {
    font-family: 'BPG Irubaqidze';
    font-size: 2.5rem;
    color: #E8BC62;
}
.form-element {
    max-width: 23.25rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
}
.forms {
    max-width: 23rem;
    width: 100%;

}
.input {
   width: 100%;
   height: 2.5rem;
   background-color: black;
   border:none;
   outline: none;
   border: 1px solid lightgray;
   font-family: 'BPG Irubaqidze';
   font-size: 1.5rem;
}
.message {
    width: 23rem;
    height: 14rem;
    background-color: black;
    border: none;
    outline: none;
    border: 1px solid lightgray;
    font-family: 'BPG Irubaqidze';
    font-size: 1.5rem;
}
.btn {
    border: none;
    background-color: black;
    color: #E8BC62;
    border: 1px solid #E8BC62;
    width: 11.5rem;
    height: 2.5rem;
    font-family: 'BPG Irubaqidze';
    font-size: 1.125rem;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
.contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3rem;
    max-width: 13.75rem;
    width: 100%;
}
.city-address h4,
.factory-address h4 {
    color: #E8BC62;
    font-size: 1.25rem;
    font-family: 'ALK Sanet';
}
.city-address a,
.factory-address a {
    color: #FFFFFF; 
    font-family: 'BPG Irubaqidze';
    font-size: 1rem;
}
.contact-info a {
    color: #E8BC62;
    font-family: 'BPG Irubaqidze';
}









/* hover */
i:hover {
    color: #E8BC62;
    -webkit-transform: scale(2,2);
        -ms-transform: scale(2,2);
            transform: scale(2,2);
    
}
.photos img:hover {
    -webkit-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
            transform: scale(1.2,1.2);
    
}
.logos img:hover{
    -webkit-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
            transform: scale(1.2,1.2);
    
}

.submit:hover {
    background-color: #E8BC62;
    color: #FFFFFF;
    
}
.btn:hover {
    background-color: #E8BC62;
    color: #FFFFFF;
   
}
.left-btn:hover {
    background-color: #E8BC62;
    color: #FFFFFF;
    
}
.li-a:active {
    color: #E8BC62;
}

.email:hover,
.input:hover,
.message:hover {
    background-color: lightgoldenrodyellow;
}